*
{
    margin: 0;
    padding: 0;
}

.header1
{
    background-color: black;
    width: 100%;
    
}

.navbar
{
    height: 100px;
    align-items: center;
}

.logo
{
    color: white;
}

.links a {
  color: white;
  text-decoration: none;
}

.ham
{
    color: lightgray;
}

.p1
{
    color: #207dff;
}
.unorder
{
    display: none;
}

.div1
{
    display: none;
}

.div4
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: black;
    margin: 0 auto;
}


.div3
{
    align-items: center;
    background-image: url(../Images/Background/bg_3.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec1-div1
{
    margin-top: 150px;
    width:90%;
    height: 500px;
}

.sec1-h1
{
    padding-top: 20px;
    line-height: 1;
    font-weight: 700;
    font-family: inherit;
    font-size: 40px;
}

.sec1-p1
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.p1
{
    color: #207dff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.sec2-h3
{
    font-size: 28px;
}
.text1
{
    color: blue;
    font-size: 28px;
}

.button2
{
    background: #207dff;
    border: 1px solid #207dff;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
}

.button3
{
    color: white;
    background-color: orangered;
    border-radius: 10px;
}

.image2
{
    width: 100%;
    align-items: center;
}

.button4
{
    display: flex;
}


.sec3-div1 {
  width: 100%;  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  margin: 10px;
  margin: 0 auto;
}

.sec3-img1
{
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(243, 221, 224);
}

.sec3-div2
{
    background-color: rgb(234, 232, 232);
    height: 800px;
    width: 100%;
}

.sec3-div3
{
    background: white;
    padding: 30px;
    width: 50%;
    height: 500px;
}
.sec3-form1
{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    margin: 0 auto;

}

.sec3-button1
{
    width: 100%;
    padding: 14px;
    background-color: #ff5c2b;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.sec3-button1:hover {
    background-color: #e44a19;
}

.sec3-div3 h3 {
    color: #1a57d8;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sec4-div1
{
    background-image: url(../Images/Background/bg_2.jpg);
    /* margin-top: 300px; */
    width: 100%;
    height: 500px;                  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;        
    align-items: center;            
    text-align: center;
    padding: 0;    
    
}

.sec4-div2
{
    text-align: center;
    width: 100%;
    color: white;
}


.sec5-div1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    width: 100%;
} 

.sec5-left img {
    width: 100%;
    border-radius: 10px;
}

.sec5-data1 
{
    background: white;
    padding: 25px 15px;
    margin: 10px;
    text-align: center;
}

.sec5-data1:hover {
    background-color: rgb(13,154,210);
    color: white;
}
.sec6-div1
{
    text-align: center;
}

.sec6-div2
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec6-span
{
    color: #207dff;
    font-size: smaller;
}
.sec6-btn
{
    background-color: #207dff;
    color: white;
}

.sec7-bg1
{
    background-image: linear-gradient(to top, rgba(250, 250, 253, 0.9), rgba(250, 250, 253, 0)), url(../Images/Background/bg_3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    opacity: 0.7;;
    color:#fff;
}

.sec7-div1
{
    padding-top: 50px;
}
.sec7-div2
{
    text-align: center;
}
.sec7-p1
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec7-h3
{
    padding-bottom: 20px;
}

.sec7-count
{
    font-size: larger;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sec7-button1
{
    background-color: #ff5c2b;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.sec8-img1
{
    padding-top: 20px;
}

.sec8-div1
{
    display: flex;
    color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sec8-div2
{
    align-items: center;
}
.sec8-h3
{
    padding-top: 50px;
    padding-bottom: 20px;
}
.sec8-div3
{
    padding-bottom: 10px;
}

.sec8-h4
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sec8-h4:hover {
    color: #207dff;
}


.sec8-p1
{
    padding-bottom: 30px;
}


.sec9-div1
{
    background-image: linear-gradient(to top, rgb(5, 39, 53), rgba(87, 87, 98, 0)), url(../Images/Background/bg_3.jpg);
    background-size: cover;
    background-position: center;

    
}


.sec9-p1
{
    text-align: cener;
}

.sec9-div1
{
    width: 90%;
}
.sec9-div2
{
    display: none;
}

.sec9-img1
{
    border: #fff;
    border-radius: 50px;
}
/* .sec9-div3
{
    display: flex;
    justify-content: center;
    width: 90%;
    text-align: center;

} */

.sec10-div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.sec10-div2 {
    background-color: rgb(228, 228, 228);
    width: 250px;    
    height: 160px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec10-div3
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



.sec11-div1
{
    /* background-color:rgb(247, 246, 246) ;
    width: 100%; */
    text-align: center;
}

.sec11-btn
{
    background:#ff5c2b;
    border: 1px solid orangered;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
}
/* #bad2f2 */
.footer1
{
   background-image: linear-gradient(to top, rgba(250, 250, 253, 0.9), rgba(250, 250, 253, 0)), url(../Images/Background/footer-bg.jpg);

    background-size: cover;
    background-position: center;
    width: 100%;
}

.footer-h5
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-div4
{
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-div5
{
    padding-top: 50px;
    text-align: center;
}

.footer-p1
{
    color: #207dff;
}








@media(min-width:768px)
{
    .sec2-div1
    {
        display: flex;
        width: 90%;
    }
    .sec2-div2
    {
        width: 50%;
    }

    .sec3-div2
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 500px;
        width: 90%;
        margin: auto;
    }
    .sec3-div4
    {
        display: flex;
        flex-wrap: wrap;
        width: 49%;
    }

    .sec3-parent1
    {
        display: flex;
        flex-grow: wrap;
    }

    .sec4-img1
    {
        display: block;
        width: 100%;
        border-radius: 12px;
    }
    .sec4-div1
    {
        margin-top: 60px;
    }

    .sec5-div1
    {
        background-image: url(../Images/Background/dept-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }


    .sec5-right
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 35%;    
        width: 80%;
        background-color: white;
    }

    .sec5-data1
    {
        width: 20%;
    }
    

    .sec6-div2
    {
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
    }
    .sec6-fig1
    {
        flex:45%;    
        height: 300px;
        width: 70%;
        margin-bottom: 20px;
    }
    .sec7-bg1
    {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;  
        height: 400px;
    }
    .sec7-div2
    {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
    }

    .sec7-div3
    {
        padding-left: 50px;
    }

    .sec8-div4
    {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        
    }

    .c1{
        width: 32%;
    }


    .sec9-div2
    {
        display: block;
    }

    .sec9-div3
    {
        display: flex;
        /* flex-wrap: wrap; */

    }


    .sec10-div1
    {
        display: flex;
        flex-wrap:wrap;
    }

    .sec11-div1
    {
        display: flex;
        justify-content: center;
        
    }

    .footer-div1
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content:left;
        padding-top: 20px;
    }

    .footer-c1
    {
        width: 20%;
        padding-left: 25px;
    }
    
}






@media(min-width:992px)
{
    .ham
    {
        display: none;
    }

    .div1
    {
        color: white;
        display: flex;
        background-color: skyblue;
        width: 100%;
        /* height: 50px; */
        justify-content: space-evenly;
        align-items: center;
    }

    .div2
    {
        height: 100px;
    }

    .s1
    {
        display: flex;
    }

    .s2
    {
        display: flex;
        justify-content: space-between;
        width: 10%;
    }

    .p1
    {
        font-size: 50px;
        width: 90%;
    }
    .navbar
    {
        background-color: white;
        height: 100px;
        width: 100%;
    }

    .unorder
    {
        display: block;
        display: flex;
        list-style-type: none;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }

    .anchor
    {
       text-decoration: none;
       color: white;
       
    }

    .button1
    {
        background-color: orangered;
        color: white;
        padding: 8px 14px;

    }

    .ham1
    {
        display: block;
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-decoration: none;

    }

    .div2
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .div5
    {
        opacity:0.7;
        width: 100%;
    }

    .bgimg1
    {
        
        margin: 0 auto;
        z-index: 0;
    }

    .child-button
    {
        display: flex;
        text-align: center;
        padding-left: 160px;
    }

    .image2
    {
        height: 500px;
    }
    .sec2-div3
    {
        
        padding-left: 100px;
        padding-top: 150px;
        padding-bottom: 50px;
        width: 50%;
        text-align: center;
    }
    
    .sec5-data1
    {
        /* margin-right:0; */
        width: 24%;
        height: 100px;
    }
    .sec5-right
    {
        width: 65%;
    }

    .sec6-div2
    {
        flex-wrap: nowrap;
    }

    .sec7-div2
    {
        flex-wrap: nowrap;
    }

    .sec11-div3
    {
        height: 300px;
        width: 300px;

    }
    .footer-div1 {
        flex-direction: row;
        flex-wrap: nowrap;        
        justify-content: space-between;
    }
    
}